body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#google-header {
    position: fixed;
    display: flex;
    top: 19px;
    left: 24px;
    order: 1;
}

#google-logo {
    width: 92px;
    height: 30px;
    margin-top: 9px;
}

#google-apps {
    width: 24px;
    height: 24px;
    margin-left: 969px;
    margin-top: 13px;
}

#google-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 9px;
}

textarea {
    display: block;
    background: #fff;
    top: 30px;
    height: 44px;
    width: 666px;
    margin-left: 45px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border: 1px solid #dfe1e5;
    resize: none;
    font-size: 15px;
    line-height: 46px;
    padding-left: 20px;
    box-shadow: none;
    overflow: hidden;
}

#magnifying-glass {
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin-left: -43px;
    margin-top: 12px;
}

#navbar {
    order: 2;
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
}

#all-logo {
    width: 16px;
    height: 16px;
    margin-top: 22px;
    margin-left: 170px;
    margin-right: 0px;
}

.nav-buttons {
    padding: 10px 15px 4px 5px;
    font-size: 13px;
    color: #5f6368;
}

#more-button {
    padding: 10px 15px 4px 1px;
}

#shopping-button {
    padding: 10px 11px 4px 5px;
}

.nav-buttons-icons {
    width: 16px;
    height: 16px;
    padding-top: 22px;
    padding-right: -100px;
    padding-left: 10px;
}

#settings-button {
    margin-left: 70px;
    padding-left: 10px;
}

#tools-button {
    padding-left: 10px;
}

#result-count {
    order: 3;
    font-family: Arial, sans-serif;
    font: sans-serif;
    margin-top: 12px;
    font-size: 14px;
    color: #70757a;
    margin-left: 172px;
}