header {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .apps-button {
        width: 24px;
        height: 24px;
        margin-left: 20px;
        margin-top: 4px;
        fill: #5f6368;
    }
}

#top-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 16px;
}

.google-logo {
    padding-right: 44px;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

.text-area {
    display: block;
    height: 44px;
    width: 669px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    resize: none;
    overflow: hidden;
    line-height: 42px;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font: sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    margin-top: -8px;
}

.x-icon {
    height: 44px;
    width: 24px;
    margin-left: -81px;
    margin-top: -7px;
    fill: #80868b;
}

.magnifying-glass {
    height: 24px;
    width: 24px;
    margin-left: -41px;
    margin-top: 3px;
    fill:#4285f4;
}

.apps-button {
    width: 24px;
    height: 24px;
    margin-left: 952px;
    margin-top: 4px;
    fill: #5f6368;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 20px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
    color: #5f6368;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    line-height: 20px;
}

.nav-button {
    display: flex;
    flex-direction: row;
}

.nav-button-icon {
    width: 16px;
    height: 16px;
}

.nav-button-text {
    margin-left: 5px;
    margin-top: -2px;
    padding-right: 24px;
}

.results-count-text {
    font-family: Arial, sans-serif;
    font: sans-serif;
    font-size: 14px;
    color: #70757a;
    margin-left: 172px;
    margin-bottom: 0px;
}

.results-container {
    display: flex;
    flex-direction: column;
    margin-left: 172px;
}

.result-address {
    font-family: Arial, sans-serif;
    font: Arial;
    font-size: 14px;
    color: #3C4043;
    line-height: 1.58;
}

.light-grey-text {
    font-family: Arial, sans-serif;
    font: sans-serif;
    color: #5f6368;
    font-size: 14px;
    margin-left: -1px;
    line-height: 1.58;
}

.result-title {
    font-family: Arial, sans-serif;
    font: sans-serif;
    color: #1a0dab;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.58;
}

.normal-text {
    font-family: Arial, sans-serif;
    font: Arial;
    color: #525156;
    font-size: 14px;
    line-height: 1.58;
}

em {
    font-family: Arial, sans-serif;
    font: sans-serif;
    color: #5f6368;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.mn-dwn-arw {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
    border-color: #70757a transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

.video-header {
    font-family: Arial, sans-serif;
    font: Arial;
    font-size: 20px;
    color: #222;
    padding-top: 4px;
    line-height: 1.3px;
}

iframe {
    border-radius: 9px 9px 0px 0px;
}

#video-container {
    display: flex;
    flex-direction: row;
}

.video-preview {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.lighter-grey-text {
    font-family: Arial, sans-serif;
    font: sans-serif;
    color: #70757a;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.58;
}

#video-preview-text {
    line-height: 1.375; 
    font-size: 16px; 
    padding-left: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid #dfe1e5;
    border-radius: 0px 0px 9px 9px;
}

#more-video-results {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font: sans-serif;
    color: #1a0dab;

}

.blue-arrow {
    height: 24px;
    width: 24px;
    padding-top: 5px;
    fill: #1a0dab;
}

.people-also-ask {
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width: 652px;
    margin-top: 20px;
}

.people-also-ask-header {
    color: #222;
    font-family: Arial, sans-serif;
    font: sans-serif;
    font-size: 20px;
    padding: 5px 8px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
}

#questions {
    font-family: arial,sans-serif;
    color: #222;
}

.question {
    outline: 0;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative;
    line-height: 1.3;
    padding-left: 16px;
}

#down-arrow {
    width: 24px; 
    height: 24px; 
    display: inline-block; 
    margin-top: 15px; 
    color: #70757A;
}

#feedback {
    font-family: arial,sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 1.34;
    color: #70757a;
    margin-left: 580px;
}

.related-results-container {
    display: flex;
    flex-direction: row;
}

.related-results-text {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #1a0dab;
    padding: 3px 32px 3px 0;
}

#gooogle-container {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    margin-top: 15px;
}

#results-pages {
    display: block;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #4285f4;
    word-spacing: 8px;
    margin-left: 168px;
    margin-bottom: 20px;
}

#google-footer {
    background: #f2f2f2;
    height: 66px;
    width: 100%;
    position: absolute;
    left: 0px;
    padding-top: 6px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    margin-left: 172px;
}

.grey-dot{
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 1px 2px 9px 0px;
    width: 10px;
    background: #9e9e9e;
}

#footer-location {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    color: #333;
    font-weight: bold;
    vertical-align: top;
    padding-left: 2px;
    padding-right: 4px;
}

.footer-text {
    font-family: arial,sans-serif;
    line-height: 15px;
    color: #5f6368;
    font-size: 14px;
}

.footer-bottom-text {
    font-size: 14px;
    line-height: 40px;
    visibility: visible;
    color: #5f6368;
    font-family: arial,sans-serif;
    padding-right: 27px;
}